# Projet visualisation donnees personnelles a partir de json file

Nous allons d'abord importer une classe Personne reunissant les attributs propres a une personne ainsi que les librairies necessaires au programme

In [15]:
# Importation de la classe Personne
from classes.Personne import Personne as Per
# Importation des librairies
import pandas as pd
import numpy as np
import json as js
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Appelons le fichier avec Json

In [16]:
#le fichier json sous forme de dictionnaire 
people = js.load(open("people.json"))

Convertissons la liste en DataFrame grace a panda

In [17]:
dictPeople = pd.DataFrame(people, columns = ["prenom", "nom", "adresse", "religion", "salaire"])

In [18]:
dictPeople

        prenom       nom   adresse   religion  salaire
0      Mamadou    Diallo     Paris  musulmane  3000000
1         Paul  Belmondo   Londres   chretien   500000
2  Jean Moussa       Sow    Bamako  musulmane  1000000
3   Bob Swager       Lee  New York  musulmane   800000

Creons une liste d'objet de type Personne

In [19]:
peoples = list()
for i in people:
    peoples.append(Per(**i))